<!DOCTYPE html>
<html lang="en" data-th-replace="~{user/userbase :: userparent(~{::#content},~{::title})}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div id="content">
        <div class="relative">
            <div>
                <div
                    class="flex gap-3 flex-col justify-evenly items-center border-2 border-dotted border-lightborder p-4 rounded-lg">
                    <div class="flex gap-2 justify-evenly w-full">
                        <div class="p-4 border-2 border-lightbtn rounded-lg">
                            <canvas id="budgetToCurrentBudget" class="functional-chart cursor-pointer" width="320"
                                height="320"></canvas>
                            <h4 class="text-center text-xs text-gray-500">
                                Budget Analysis
                            </h4>

                            <div class="non-functional-chart relative">
                                <canvas class="non-functional cursor-pointer" width="320" height="320"></canvas>
                                <h4 class="text-[160px] leading-none text-lightborder absolute top-[24%] left-[40%]">
                                    ?
                                </h4>
                            </div>
                        </div>
                        <div class="p-4 border-2 border-lightbtn rounded-lg">
                            <canvas id="budgetToGoal" class="functional-chart cursor-pointer" width="320"
                                height="320"></canvas>
                            <h4 class="text-center text-xs text-gray-500">
                                Budget vs Goal Analysis
                            </h4>

                            <div class="non-functional-chart relative">
                                <canvas class="non-functional cursor-pointer" width="320" height="320"></canvas>
                                <h4 class="text-[160px] leading-none text-lightborder absolute top-[24%] left-[40%]">
                                    ?
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-around gap-4 items-center w-full">
                        <div class="w-1/2 flex justify-center">
                            <h4
                                class="text-center text-base w-max mt-2 text-white bg-emtext hover:bg-green-600 cursor-pointer px-5 py-2 rounded-lg">
                                Total Budget : <span id="totalBudget"></span>
                            </h4>
                        </div>
                        <div class="w-1/2 flex justify-center">
                            <h4
                                class="text-center text-base w-max mt-2 text-white bg-lightpurple hover:bg-lightpurpleHover cursor-pointer px-5 py-2 rounded-lg">
                                Remaining Budget : <span id="currentBudget"></span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="flex gap-3 justify-center border-2 border-dotted border-lightborder mt-4 py-4 rounded-lg">
                    <button id="addBillButton" onclick="openAddBillModal()"
                        class="text-white bg-lightbtn hover:bg-lightbtnhover focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-base px-5 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Add Bill
                    </button>

                    <a href="bills"
                        class="text-white bg-lightextra hover:bg-lightextraHover focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        View Bills
                    </a>
                    <button
                        class="text-white bg-lightpurple hover:bg-lightpurpleHover focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-base px-6 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 px-">
                        Track
                    </button>
                </div>
            </div>

            <div class="flex gap-3 justify-evenly border-2 border-dotted border-lightborder p-4 rounded-lg my-4">
                <div class="p-4 border-2 border-lightbtn rounded-lg">
                    <div class="functional-chart">
                        <canvas id="catChart" class="cursor-pointer" width="320" height="320"></canvas>
                        <h4 class="text-center text-lightptext text-xs">
                            Bill Categories
                        </h4>
                    </div>
                    <div class="non-functional-chart relative">
                        <canvas class="non-functional cursor-pointer" width="320" height="320"></canvas>
                        <h4 class="text-[160px] leading-none text-lightborder absolute top-[24%] left-[40%]">
                            ?
                        </h4>
                    </div>
                </div>

                <div class="p-4 border-2 border-lightbtn rounded-lg">
                    <canvas id="billStatusChart" class="functional-chart cursor-pointer" width="320"
                        height="320"></canvas>
                    <h4 class="text-center text-xs text-gray-500">
                        Bills Status Analysis
                    </h4>

                    <div class="non-functional-chart relative">
                        <canvas class="non-functional cursor-pointer" width="320" height="320"></canvas>
                        <h4 class="text-[160px] leading-none text-lightborder absolute top-[24%] left-[40%]">
                            ?
                        </h4>
                    </div>
                </div>
            </div>

            <div class="w-full flex flex-col justify-evenly border-2 border-dotted border-lightborder p-4 rounded-lg">
                <div class="border-2 border-lightbtn rounded-lg overflow-hidden bg-gray-50">
                    <div class="w-full bg-gray-50 border-b border-lightborder p-4 flex justify-between items-center">
                        <div class="flex justify-start items-center gap-1.5">
                            <button
                                class="active-btn filter-btn bg-gray-50 px-4 py-2 rounded-lg border border-lightborder">
                                Pending bills
                            </button>
                        </div>
                        <div class="flex gap-1.5">
                            <select class="rounded-lg text-sm" name="" id="drop2">
                            </select>
                        </div>
                    </div>

                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table id="bill-paid"
                            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">Title</th>
                                    <th scope="col" class="px-6 py-3">Amount</th>
                                    <th scope="col" class="px-6 py-3">Due Date</th>
                                    <th scope="col" class="px-6 py-3">Days</th>
                                    <th scope="col" class="px-6 py-3">Action</th>
                                </tr>
                            </thead>

                            <!-- // content/ -->
                            <div>
                                <tbody id="pending-bills-list"></tbody>
                            </div>
                        </table>
                    </div>
                </div>
            </div>

            <div id="loader" class="absolute w-full h-screen top-[0%] overflow-y-hidden"></div>
        </div>
        <div data-th-replace="~{/user/modal/add_bill :: addBill}">
            this is my text
        </div>
        <script src="/js/loader.js"></script>
        <script type="module" src="/js/chart.js"></script>
        <script type="module" src="/js/dashboard.js"></script>
    </div>
</body>

</html>