<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content},~{::title})}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
</head>
<body>
    <div id="content">
        <div class="flex justify-center items-center w-full">
            <div class=" reg-form w-[30rem] border-2 border-lightborder rounded-xl overflow-hidden">
                <div class="h-4 bg-lightextra"></div>
                <div class="p-7"> 
                    <h4 class="text-center text-3xl py-2 font-normal">Registration Form</h4>

                    <!-- form -->
                    <form 
                    data-th-action="@{'/registration'}"
                    method="post"
                    onsubmit="return validatePassword()"
                    data-th-object="${userForm}"
                    class="max-w-md mx-auto">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" data-th-field="*{name}" name="floating_Name" id="floating_Name"
                                class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_Name"
                                class="peer-focus:font-medium absolute text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name*</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="email" data-th-field="*{email}" name="floating_email" id="floating_email"
                                class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_email"
                                class="peer-focus:font-medium absolute text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email*
                                </label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="number" data-th-field="*{phone}" name="floating_phone" id="floating_phone"
                                class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" "/>
                            <label for="floating_phone"
                                class="peer-focus:font-medium absolute text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="password" data-th-field="*{password}" name="floating_password" id="pass"
                                class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="pass"
                                class="peer-focus:font-medium absolute text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password*</label>

                                <!-- i button -->
                                <p id="i-button" class="absolute top-[32%] right-[4%] cursor-pointer w-5 h-5 rounded-full hidden justify-center items-center"><i class="fa-solid fa-info text-[10px]"></i></p>

                                <p id="i-buttonhover" class="i-label absolute top-[32%] right-[10%] cursor-pointer p-0.5 rounded-lg px-2 text-[10px]"></p>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="password" name="repeat_password" id="cpass"
                                class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="cpass"
                                class="peer-focus:font-medium absolute text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm
                                password*</label>

                            <!-- Eye -->
                             <p onclick="showPassword()" id="eye" class="absolute top-[32%] right-[4%] cursor-pointer text-lightptext hover:text-gray-700"><i class="fa-solid fa-eye"></i></p>

                        </div>
                        <div class="flex justify-center gap-2">
                            <button 
                            type="reset"
                            class="text-white !bg-lightbtn hover:!bg-lightbtnhover focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Reset
                        </button>
                        <button 
                        type="submit"
                        class="text-white !bg-emtext hover:!bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Submit
                    </button>
                        </div>
                        <p class="text-lightptext text-center text-sm pt-2">Already have an account? <a href="/login" class="hover:text-emtext">Login now</a></p>
                    </form>
                </div>
                <div class="h-4 bg-lightextra"></div>
            </div>
        </div>

        <!-- Script -->
        <script src="js/eyePass.js"></script>
        <script src="js/passMatcher.js"></script>
    </div>
</body>

</html>